<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GuruxAMI.DataCollector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GuruxAMI.DataCollector.Properties.Settings>
            <setting name="AmiHostName" serializeAs="String">
                <value>http://localhost:1337/</value>
            </setting>
            <setting name="AmiDCGuid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AmiHostPort" serializeAs="String">
                <value>1337</value>
            </setting>
        </GuruxAMI.DataCollector.Properties.Settings>
    </userSettings>
</configuration>